extends layout

block content
  script(src="/public/newpoll.js")
  h2 New Poll
  form(method='post')
    div(class='form-group')
      label(for='form-input') Poll Name:
      input(type='text', class='form-control', id='form-input', name='name')
    div(class='form-group')
      label(for='form-textarea') Options (separated by lines):
      textarea(class='form-control', rows='6', id='form-textarea', name='options')
    button(type='submit', class='btn btn-default') Submit
