extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
  script(src='/public/poll.js')      h2(class='text-center')= data.name
  div(class='row')
    div(class='col-md-6 col-xs-12')
      form(id='poll-form', class='form-group', method='post', enctype="application/x-www-form-urlencoded")
        select(class='form-control', id='poll-select', name='select')
         option(selected disabled) Choose an option
         each v,i in data.options
            option(value=i)= i
         option(id='poll-select-custom', value='') I would like a custom option...
        div(style='margin-top:10px;margin-bottom:10px')
          input(class='form-control', id='poll-custom', type='text', placeholder='Name the option', style='display:none', name='custom')
        button(class='btn btn-default', type='submit') Submit
      a(href='https://twitter.com/share?text=voting%20app', class='btn btn-default') SHARE ON TWITTER

    div(class='col-md-6 col-xs-12')
      canvas(id='my-chart', width='200', height='200')
      if is_author
        button(id='poll-delete', type='submit', style='width:100%;margin-top:10px') Remove this poll
